:root {
    background-color: #1b1b1e;
    --primary-color: #1b1b1e;
    --secondary-color: #F2366A;
    --light-color: #FFFAE9;
    --green-color: #30F4D7;
    --dark-green: #1A8D7B;
}

body {
    font-family: 'Big Shoulders Inline Text';
    background-color: var(--primary-color) !important;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: var(--light-color);
    font-size: 3rem;
    min-width: 80rem;
    border: 0.1rem solid var(--green-color);
}

img {
    width: 20rem;
    height: 20rem;
    margin: 20px auto;
    display: flex;
    border-radius: 12px;
}

#question {
    margin-top: 2rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 1.6rem 0 var(--green-color);
    transform: scale(1.02);
    transition: all 0.1s ease-out;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: var(--light-color);
    background-color: var(--dark-green);
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: var(--green-color);

}

.incorrect {
    background: #ced4da;
    text-decoration: line-through;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
}

.hud-main-text {
    text-align: center;
    margin-bottom: 20px;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid var(--secondary-color);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: var(--secondary-color);
    width: 0%;
}

@media (max-width: 880px) {
    .choice-container{
        min-width: 90vw;
    }

#question {
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

img {
    width: 18rem;
    height: 18rem;
    margin: 2rem auto;
}

#progressBar {
    width: 17rem;
    height: 2.7rem;
}
}

@media (max-height: 485px) {
    img {
        width: 18rem;
        height: 18rem;
        margin: 1rem auto;
    }
    #question {
        font-size: 3.3rem;
        margin-top: 0;
    }

    .hud-main-text {
        margin-bottom: 0;
        font-size: 4rem;
    }

    .container {
        margin-top: 0.7rem;
    
    }
    #progressBar {

        margin-top: 8px;
        height: 2.4rem;
    }


}

@media (max-width: 485px) {
    .container {
        margin: auto;
    }
    #question {
        font-size: 40px;
    }
    
    h1 {
        font-size: 4rem;
    }

    #progressBar {
        margin-top: 1.3rem;
    }
    
}

@media (max-height: 640px) {
    * { font-size: 50%
          
    }
    
    @media (max-width: 412px) {
    * {
        font-size: 50%
    }
  
    
    h1 {
        font-size: 4rem;
    }

    #question {
        font-size: 3rem;
    }
    
    }
    }



.correct {
    background-color: var(--green-color);
}

.incorrect {
    background-color: #ced4da;
    text-decoration: line-through;
}


/* LOADER */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('assets/loader.png');
    background-size: cover;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
