:root {
    background-color: #1b1b1e;
    --primary-color: #1b1b1e;
    --secondary-color: #F2366A;
    --light-color: #FFFAE9;
    --green-color: #30F4D7;
    --dark-green: #1A8D7B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    color: #333;
    font-family: 'Big Shoulders Inline Text';
}

body {
    font-family: 'Big Shoulders Inline Text';
    background-color: var(--primary-color) !important;
}

h1 {
    font-size: 5.4rem;
    color: var(--green-color);
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background: var(--secondary-color);
    color: var(--light-color);
    border-radius: 4px;;
}

#saveScoreBtn {
    border: none;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1.6rem 0 var(--green-color);
    transition: all 0.4s ease-out;
    transform: scale(1.03); 
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: var(--dark-green);
}

#highscore-btn:hover {
    box-shadow: 0 0 1.6rem 0 var(--secondary-color);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

#end p {
    color: var(--green-color);
    padding: 2rem;
}

.container #home p {
    color: white;
    margin-bottom: 2rem;
} 

.container #home p,
.container #home p span {
    font-size: 2rem;
    text-align: center;
}

.container #home p span {
    color: var(--green-color);
}

/* FORM */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 2rem;
    width: 30rem;
    padding: 1.5rem;
    border: none;
    font-size: 1.8rem;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 05);
}

input::placeholder {
    color: #aaa;
}

#finalText {
    font-size: 3rem;
    text-align: center;
}

#finalText img {
    max-width: 40rem;
}

#finalScore {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: var(--light-color);
    font-size: 3rem;
    min-width: 80rem;
    border: 0.1rem solid var(--green-color);
}

img {
    width: 20rem;
    height: 20rem;
    margin: 20px auto;
    display: flex;
    border-radius: 12px;
}

#question {
    margin-top: 2rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 1.6rem 0 var(--green-color);
    transform: scale(1.02);
    transition: all 0.1s ease-out;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: var(--light-color);
    background-color: var(--dark-green);
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: var(--green-color);
}

.incorrect {
    background: #ced4da;
    text-decoration: line-through;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
}

.hud-main-text {
    text-align: center;
    margin-bottom: 20px;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid var(--secondary-color);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: var(--secondary-color);
    width: 0%;
}

.correct {
    background-color: var(--green-color);
}

.incorrect {
    background-color: #ced4da;
    text-decoration: line-through;
}


/* LOADER */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('assets/loader.png');
    background-size: cover;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    color: var(--light-color);
}

#highScores {
    font-size: 3.8rem;
    margin-bottom: 0.5rem;
}

li {
    color: var(--light-color);
}

/* MEDIA QUERIES */
@media (max-width: 880px) {
    .choice-container{
        min-width: 90vw;
    }

#question {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    }

img {
    width: 18rem;
    height: 18rem;
    margin: 2rem auto;
    }

#progressBar {
    width: 17rem;
    height: 2.7rem;
    }
}

@media (max-height: 485px) {
    img {
        width: 18rem;
        height: 18rem;
        margin: 1rem auto;
    }
    #question {
        font-size: 3.3rem;
        margin-top: 0;
    }

    .hud-main-text {
        margin-bottom: 0;
        font-size: 4rem;
    }

    .container {
        margin-top: 0.7rem;
    
    }
    #progressBar {
        margin-top: 8px;
        height: 2.4rem;
    }
}

@media (max-width: 485px) {
    .container {
        margin: auto;
    }
    #question {
        font-size: 40px;
    }
    
    h1 {
        font-size: 4rem;
    }

    #progressBar {
        margin-top: 1.3rem;
    }
    
}

@media (max-height: 640px) {
    * { font-size: 50%      
    }
}
    
@media (max-width: 412px) {
    * {
        font-size: 50%
    }
  
    h1 {
        font-size: 4rem;
    }

    #question {
        font-size: 3rem;
    }
    
    * { font-size: 50%
    }

    #finalScore {
    font-size: 3rem;
    }

    #finalText p {
    padding: 1rem;
    }

    .btn {
    height: 5rem;
    font-size: 2rem;
    padding: 1rem;
    }
}

@media (max-width: 513px) {
    * {
        font-size: 50%
        }
    
    #finalText p {
        padding: 1rem;
        }
    
    #finalText img {
        max-width: 26rem;
        }
    }
    
@media (max-height: 420px) {
        #finalScore {
            margin-bottom: 0;
        }
    }




